main {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: Repeat(3, 380px);
  grid-gap: 40px 10px;
  margin-top: 44px;
  grid-auto-rows: 500px;
  justify-items: center;
  justify-content: center;
  align-content: center;
  grid-auto-row: 500px;
  grid-auto-flow: column;
}

.navbar {
  overflow: hidden;
  background-color: #5b5b5b;
  position: fixed;
  top: 0;
  width: 100%
}

.incrementer {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar a {
  float: left;
  display: block;
  color: #ffd3d9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbar .cart {
  float: right;
}

.name {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  background-color: pink;
  letter-spacing: 0.7px;
  font-weight: 600;
  height: 90px;
  vertical-align: middle;
  line-height: 90px;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  color: gray;
}

img {
  width: 100%;
  height: 230px;
}


.Item {
  width: 200px;
  box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.6);
}

.price {

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  color: black;
  position: relative;
  bottom: 5px;
}

.description {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: #4a4a4a;
  padding: 10px 0px 10px 10px;
  border-top: 1px solid #4a4a4a;
}
